body {
	padding: 0;
	margin: 0;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
    height: 100vh;
}

#container {
    margin:  10% 25%;
	padding: 4%;
    text-align: center;
    background-color: rgb(204, 208, 213);
    border-radius: 15px;
}

h1{
    color: #042f6f; 
    font-size: 2.5vw;
}

#time {
    margin: 2vw;
    padding: 0;
	font-size:3vw;
    color:rgb(60, 60, 60);
}

#buttons{
    margin: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#buttons button{
    width: 10vw;
    height: 4vw;
    background-color: #11428b;
    color: #ffffff;
    border: none;
    font-size:1.6vw;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}